* {
  font-family: sans-serif;
}
.heading {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
}
.headingBody {
  font-size: 25px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
.headingBody input {
  font-size: 20px !important;
  border-radius: 3px !important;
  border: 1px solid black !important;
  height: 45px !important;
}
.headingBody select {
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid black;
  width: 274px;
}
.headingBody tbody tr td {
  padding-left: 25px;
  line-height: 60px;
}
.add {
  background-color: green;
  color: white;
  cursor: pointer;
}
.cancel {
  background-color: red;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
#buttons input {
  /* padding-top: 20px; */
  width: 80px;
  padding-top: 0px;
  height: 20px;
  margin-top: 8px;
  text-align: center;
  padding-bottom: 50px;
}
#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
